global-exclude *.py[cod]
include VERSION
include README
include pyproject.toml
include_package_data = True
include comment/*.py
include comment/static/*
include comment/templates/*
include docs/source/*
prune comment/tests
